.bigTable .bt-sortable:after {
	content: '\f0dc';
	color:#aaa;
	font-family:"fontawesome";
	padding:0 0 0 1em;
	width:1px;
}
.bigTable .bt-sorted-asc:after {
	content: '\f160';
	color:#666;
	font-family:"fontawesome";
	padding:0 0 0 1em;
	width:1px;
}
.bigTable .bt-sorted-desc:after {
	content: '\f161';
	color:#666;
	font-family:"fontawesome";
	padding:0 0 0 1em;
	width:1px;
}